.header {
  background-color: aqua;
  width: 50px;
  height: 50px;

  .box {
    background-color: aquamarine;
    width: 100%;
    height: 20px;
  }

  .smallBox {
    background-color: rgb(65, 58, 50);
    width: 100%;
    height: 20px;
  }
  p {
    width: 100%;
  }
}
