.grid {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
p {
  margin: 5px;
  font-size: 20px;
}
.element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

.He {
  grid-column: 18/18;
}
.Na {
  grid-column: 1/2;
}
.K {
  grid-column: 1/2;
}
.Rb {
  grid-column: 1/2;
}
.Cs {
  grid-column: 1/2;
}
.Fr {
  grid-column: 1/2;
}
.La {
  grid-column: 2/3;
}
.Ne {
  grid-column: 18/18;
}
.Ar {
  grid-column: 18/18;
}

.F {
  grid-column: 17/17;
}
.O {
  grid-column: 16/16;
}
.N {
  grid-column: 15/15;
}
.C {
  grid-column: 14/14;
}
.B {
  grid-column: 13/13;
}
.Cl {
  grid-column: 17/17;
}
.S {
  grid-column: 16/16;
}
.P {
  grid-column: 15/15;
}
.Si {
  grid-column: 14/14;
}
.Al {
  grid-column: 13/13;
}

.La {
  grid-column: 3/3;
}

.Ac {
  grid-column: 3/3;
}

.H {
  background-color: rgb(101, 211, 211);
}
.He {
  background-color: rgb(101, 211, 211);
}
.Li {
  background-color: rgb(101, 211, 211);
}
.Be {
  background-color: rgb(101, 211, 211);
}
.B {
  background-color: rgb(238, 238, 102);
}
.C {
  background-color: rgb(238, 238, 102);
}
.N {
  background-color: rgb(238, 238, 102);
}
.O {
  background-color: rgb(238, 238, 102);
}
.F {
  background-color: rgb(238, 238, 102);
}
.Ne {
  background-color: rgb(238, 238, 102);
}
.Na {
  background-color: rgb(101, 211, 211);
}
.Mg {
  background-color: rgb(101, 211, 211);
}
.Al {
  background-color: rgb(238, 238, 102);
}
.Si {
  background-color: rgb(238, 238, 102);
}
.P {
  background-color: rgb(238, 238, 102);
}
.S {
  background-color: rgb(238, 238, 102);
}
.Cl {
  background-color: rgb(238, 238, 102);
}
.Ar {
  background-color: rgb(238, 238, 102);
}
.K {
  background-color: rgb(101, 211, 211);
}
.Ca {
  background-color: rgb(101, 211, 211);
}
.Sc {
  background-color: rgb(238, 129, 102);
}
.Ti {
  background-color: rgb(238, 129, 102);
}
.V {
  background-color: rgb(238, 129, 102);
}
.Cr {
  background-color: rgb(238, 129, 102);
}
.Mn {
  background-color: rgb(238, 129, 102);
}
.Fe {
  background-color: rgb(238, 129, 102);
}
.Co {
  background-color: rgb(238, 129, 102);
}
.Ni {
  background-color: rgb(238, 129, 102);
}
.Cu {
  background-color: rgb(238, 129, 102);
}
.Zn {
  background-color: rgb(238, 129, 102);
}
.Ga {
  background-color: rgb(238, 238, 102);
}
.Ge {
  background-color: rgb(238, 238, 102);
}
.As {
  background-color: rgb(238, 238, 102);
}
.Se {
  background-color: rgb(238, 238, 102);
}
.Br {
  background-color: rgb(238, 238, 102);
}
.Kr {
  background-color: rgb(238, 238, 102);
}
.Rb {
  background-color: rgb(101, 211, 211);
}
.Sr {
  background-color: rgb(101, 211, 211);
}
.Y {
  background-color: rgb(238, 129, 102);
}
.Zr {
  background-color: rgb(238, 129, 102);
}
.Nb {
  background-color: rgb(238, 129, 102);
}
.Mo {
  background-color: rgb(238, 129, 102);
}
.Tc {
  background-color: rgb(238, 129, 102);
}
.Ru {
  background-color: rgb(238, 129, 102);
}
.Rh {
  background-color: rgb(238, 129, 102);
}
.Pd {
  background-color: rgb(238, 129, 102);
}
.Ag {
  background-color: rgb(238, 129, 102);
}
.Cd {
  background-color: rgb(238, 129, 102);
}
.In {
  background-color: rgb(238, 238, 102);
}
.Sn {
  background-color: rgb(238, 238, 102);
}
.Sb {
  background-color: rgb(238, 238, 102);
}
.Te {
  background-color: rgb(238, 238, 102);
}
.I {
  background-color: rgb(238, 238, 102);
}
.Xe {
  background-color: rgb(238, 238, 102);
}
.Cs {
  background-color: rgb(101, 211, 211);
}
.Ba {
  background-color: rgb(101, 211, 211);
}
.Lu {
  background-color: rgb(238, 129, 102);
}
.Hf {
  background-color: rgb(238, 129, 102);
}
.Ta {
  background-color: rgb(238, 129, 102);
}
.W {
  background-color: rgb(238, 129, 102);
}
.Re {
  background-color: rgb(238, 129, 102);
}
.Os {
  background-color: rgb(238, 129, 102);
}
.Ir {
  background-color: rgb(238, 129, 102);
}
.Pt {
  background-color: rgb(238, 129, 102);
}
.Au {
  background-color: rgb(238, 129, 102);
}
.Hg {
  background-color: rgb(238, 129, 102);
}
.Tl {
  background-color: rgb(238, 238, 102);
}
.Pb {
  background-color: rgb(238, 238, 102);
}
.Bi {
  background-color: rgb(238, 238, 102);
}
.Po {
  background-color: rgb(238, 238, 102);
}
.At {
  background-color: rgb(238, 238, 102);
}
.Rn {
  background-color: rgb(238, 238, 102);
}
.Fr {
  background-color: rgb(101, 211, 211);
}
.Ra {
  background-color: rgb(101, 211, 211);
}
.Lr {
  background-color: rgb(238, 129, 102);
}
.Rf {
  background-color: rgb(238, 129, 102);
}
.Db {
  background-color: rgb(238, 129, 102);
}
.Sg {
  background-color: rgb(238, 129, 102);
}
.Bh {
  background-color: rgb(238, 129, 102);
}
.Hs {
  background-color: rgb(238, 129, 102);
}
.Mt {
  background-color: rgb(238, 129, 102);
}
.Ds {
  background-color: rgb(238, 129, 102);
}
.Rg {
  background-color: rgb(238, 129, 102);
}
.Cn {
  background-color: rgb(238, 129, 102);
}
.Nh {
  background-color: rgb(238, 238, 102);
}
.Fl {
  background-color: rgb(238, 238, 102);
}
.Mc {
  background-color: rgb(238, 238, 102);
}
.Lv {
  background-color: rgb(238, 238, 102);
}
.Ts {
  background-color: rgb(238, 238, 102);
}
.Og {
  background-color: rgb(238, 238, 102);
}
.La {
  background-color: rgb(78, 209, 133);
}
.Ce {
  background-color: rgb(78, 209, 133);
}
.Pr {
  background-color: rgb(78, 209, 133);
}
.Nd {
  background-color: rgb(78, 209, 133);
}
.Pm {
  background-color: rgb(78, 209, 133);
}
.Sm {
  background-color: rgb(78, 209, 133);
}
.Eu {
  background-color: rgb(78, 209, 133);
}
.Gd {
  background-color: rgb(78, 209, 133);
}
.Tb {
  background-color: rgb(78, 209, 133);
}
.Dy {
  background-color: rgb(78, 209, 133);
}
.Ho {
  background-color: rgb(78, 209, 133);
}
.Er {
  background-color: rgb(78, 209, 133);
}
.Tm {
  background-color: rgb(78, 209, 133);
}
.Yb {
  background-color: rgb(78, 209, 133);
}
.Ac {
  background-color: rgb(78, 209, 133);
}
.Th {
  background-color: rgb(78, 209, 133);
}
.Pa {
  background-color: rgb(78, 209, 133);
}
.U {
  background-color: rgb(78, 209, 133);
}
.Np {
  background-color: rgb(78, 209, 133);
}
.Pu {
  background-color: rgb(78, 209, 133);
}
.Am {
  background-color: rgb(78, 209, 133);
}
.Cm {
  background-color: rgb(78, 209, 133);
}
.Bk {
  background-color: rgb(78, 209, 133);
}
.Cf {
  background-color: rgb(78, 209, 133);
}
.Es {
  background-color: rgb(78, 209, 133);
}
.Fm {
  background-color: rgb(78, 209, 133);
}
.Md {
  background-color: rgb(78, 209, 133);
}
.No {
  background-color: rgb(78, 209, 133);
}
