.firstLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
}
.secondLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: tomato;
}
.thirdLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: rgb(106, 98, 224);
}
.fourthLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: rgb(70, 70, 194);
}
.fifthLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(231, 231, 87);
}
.sixthLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(111, 221, 157);
}
.sevethLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(57, 119, 119);
}
.tablet .firstLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
}
.tablet .secondLine {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 280px;
  background-color: rgb(106, 98, 224);
}
.menuLeft {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 20%;
  background-color: tomato;
}
.bottomLines {
  display: flex;
}
.menuRight {
  width: 80%;
  height: 400px;
}
.main {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: rgb(70, 70, 194);
}
.banner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(231, 231, 87);
}
.extra {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100px;
  background-color: rgb(111, 221, 157);
}
.bot {
  display: flex;
}
.image {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100px;
  background-color: rgb(57, 119, 119);
}

.top {
  display: flex;
}
.topLeft {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80px;
  background-color: rgb(0, 0, 0);
}
.topRight {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 80px;
  background-color: tomato;
}
.middle {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 480px;
  background-color: rgb(106, 98, 224);
}
.bottomMiddle {
  display: flex;
}
.main1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 194);
  width: 50%;
  height: 300px;
}
.empty {
  height: 300px;
  width: 50%;
  background-color: white;
}
.main2 {
  height: 300px;
  width: 100%;
}

.img {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: rgb(57, 119, 119);
}

.Extra {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: aqua;
  background-color: rgb(111, 221, 157);
}
.bottom {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(231, 231, 87);
}
@media only screen and (max-width: 500px) {
  .tablet {
    display: none;
  }
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
}
