.firstBlock {
  background-color: aqua;
  width: 150px;
  height: 80px;
}
.secondBlock {
  margin-top: 10px;
  background-color: rgb(29, 145, 145);
  width: 150px;
  height: 280px;
}
.thirdBlock {
  margin-top: 10px;
  background-color: rgb(17, 90, 90);
  width: 150px;
  height: 280px;
}
.fourthBlock {
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(12, 58, 58);
  width: 150px;
  height: 150px;
}

.main {
  display: flex;
}

.secondColumn .firstBlock {
  margin-right: 10px;

  background-color: rgb(158, 218, 218);
  width: 150px;
  height: 150px;
}

.secondColumn .secondBlock {
  margin-right: 10px;

  background-color: rgb(116, 224, 112);
  width: 150px;
  height: 100px;
}
.secondColumn .thirdBlock {
  margin-right: 10px;

  background-color: rgb(88, 161, 85);
  width: 150px;
  height: 130px;
}

.secondColumn .fourthBlock {
  margin-right: 10px;

  background-color: rgb(55, 110, 53);
  width: 150px;
  height: 200px;
}
.secondColumn .fifthBlock {
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(4, 61, 4);
  width: 150px;
  height: 80px;
}
.secondColumn .sixthBlock {
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(21, 37, 21);

  width: 150px;
  height: 110px;
}
.thirdColumn .firstBlock {
  margin-right: 10px;

  background-color: rgb(10, 149, 241);
  width: 150px;
  height: 200px;
}
.thirdColumn .secondBlock {
  margin-right: 10px;

  background-color: rgb(13, 81, 172);
  width: 150px;
  height: 150px;
}
.thirdColumn .thirdBlock {
  margin-right: 10px;

  background-color: rgb(23, 39, 184);
  width: 150px;
  height: 170px;
}

.thirdColumn .fourthBlock {
  margin-right: 10px;

  background-color: rgb(2, 18, 87);
  width: 150px;
  height: 270px;
}

.fourthColumn .firstBlock {
  margin-right: 10px;

  background-color: rgb(236, 97, 127);
  width: 150px;
  height: 180px;
}
.fourthColumn .secondBlock {
  margin-right: 10px;

  background-color: rgb(190, 52, 52);
  width: 150px;
  height: 170px;
}
.fourthColumn .thirdBlock {
  margin-right: 10px;

  background-color: rgb(139, 26, 35);
  width: 150px;
  height: 150px;
}

.fourthColumn .fourthBlock {
  margin-right: 10px;

  background-color: rgb(107, 14, 14);
  width: 150px;
  height: 290px;
}

.fifthColumn .firstBlock {
  margin-right: 10px;

  background-color: rgb(250, 232, 131);
  width: 150px;
  height: 50px;
}

.fifthColumn .secondBlock {
  margin-right: 10px;

  background-color: rgb(184, 201, 89);
  width: 150px;
  height: 100px;
}
.fifthColumn .thirdBlock {
  margin-right: 10px;

  background-color: rgb(200, 202, 56);
  width: 150px;
  height: 190px;
}

.fifthColumn .fourthBlock {
  margin-right: 10px;

  background-color: rgb(194, 168, 22);
  width: 150px;
  height: 100px;
}
.fifthColumn .fifthBlock {
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(172, 161, 13);
  width: 150px;
  height: 120px;
}
.fifthColumn .sixthBlock {
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(97, 119, 1);

  width: 150px;
  height: 210px;
}

.sixthColumn .firstBlock {
  margin-right: 10px;

  background-color: rgb(185, 153, 226);
  width: 150px;
  height: 80px;
}

.sixthColumn .secondBlock {
  margin-right: 10px;

  background-color: rgb(135, 108, 185);
  width: 150px;
  height: 250px;
}
.sixthColumn .thirdBlock {
  margin-right: 10px;

  background-color: rgb(112, 67, 150);
  width: 150px;
  height: 300px;
}

.sixthColumn .fourthBlock {
  margin-right: 10px;

  background-color: rgb(57, 34, 73);
  width: 150px;
  height: 160px;
}
