.firstBlock {
  background-color: aqua;

  width: 100%;
  height: 200px;
}
.img {
  background-image: url(https://i.pinimg.com/originals/71/9e/80/719e80760999b4c355a723224120eb07.png);
  opacity: 50%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
}

.textArea {
  padding-top: 20px;
  margin-left: 50px;
  text-align: left;
  border-bottom: 1px solid white;
  margin-right: 100px;
  margin-left: 100px;
  color: white;
}
.smallTextArea {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}

button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin-left: 20px;
  margin-right: 10px;
  width: 180px;
  height: 30px;
}

.arrow {
  font-size: 25px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.text1 {
  padding-top: 20px;
  font-size: 15px;
}
.secondBlock {
  display: flex;
}
.leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  font-size: 25px;
  color: white;
  width: 40%;
  height: 300px;
  background-color: aqua;
}
.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  font-size: 25px;
  color: white;
  width: 60%;
  height: 300px;
  background-color: rgb(33, 168, 168);
}
.text {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  width: 150px;
}

.thirdBlock {
  display: flex;
}
.leftBlock3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  font-size: 25px;
  color: white;
  width: 70%;
  height: 300px;
  background-color: rgb(255, 182, 139);
}
.rightBlock3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  font-size: 25px;
  color: white;
  width: 40%;
  height: 300px;
  background-color: rgb(237, 247, 105);
}

.fourthBlock {
  display: flex;
}
.leftBlock4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  font-size: 25px;
  color: white;
  width: 40%;
  height: 300px;
  background-color: rgb(136, 200, 243);
}
.rightBlock4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  font-size: 25px;
  color: white;
  width: 60%;
  height: 300px;
  background-color: rgb(234, 167, 255);
}

.block {
  font-size: 25px;
  padding-left: 100px;
  color: white;
  align-items: center;
  justify-content: flex-start;

  height: 200px;
  background-color: aquamarine;
}
.block1 {
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 25px;
  padding-left: 100px;
  color: white;
  align-items: center;
  justify-content: flex-start;

  background-color: aquamarine;
}
.button2 {
  margin: 0px;
  text-align: center;
  margin-top: 30px;
}
.block2 {
  width: 100%;
  height: 200px;
  background-color: rgb(24, 87, 66);
}
