.first {
  background-color: aqua;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.line {
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 250px;
}

.firstLeft {
  margin-top: 10px;
  background-color: rgb(77, 64, 49);
  width: 49%;
  height: 250px;
  text-align: center;
  line-height: 250px;
}
.firstRight {
  margin-top: 10px;
  background-color: bisque;
  width: 49%;
  height: 400px;
  text-align: center;
  line-height: 400px;
}

.firstLeft2 {
  margin-top: -140px;
  background-color: rgb(77, 64, 49);
  width: 49%;
  height: 500px;
  text-align: center;
  line-height: 500px;
}
.firstRight2 {
  margin-top: 10px;
  background-color: bisque;
  width: 49%;
  height: 350px;
  text-align: center;
  line-height: 350px;
}
.bottom {
  margin-top: 10px;
  background-color: aqua;
  height: 50px;
  width: 60%;
  text-align: center;
  line-height: 50px;
}
.bottom2 {
  margin-top: 10px;
  background-color: rgb(37, 100, 100);
  height: 50px;
  width: 38%;
  margin-bottom: 10px;
  text-align: center;
  line-height: 50px;
}
