.body {
  background-color: rgb(187, 194, 194);
}

.header {
  background-color: white;
  margin: 10px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  padding: 20px;
}

.tittle {
  padding: 20px;
}
a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
}
h5 {
  text-align: center;
}
h4 {
  display: inline;
}
.paragraphs {
  text-align: left;
}

.list {
  text-align: left;
}

.copyright {
  text-align: center;
}

.produktai1 {
  text-align: center;
}
