h1 {
  margin: 0px 35px 0px;
}

p {
  font-size: 20px;
  margin: 30px 35px 35px;
}

.card {
  margin: auto;
  color: white;
  width: 80%;
  height: 280px;
  margin-bottom: 20px;
}
.card-img {
  height: 100%;
  opacity: 0.3;
}
.card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  margin: auto;
  width: 80%;
  height: 100%;
}
.formContainer {
  background-color: rgb(230, 230, 230);
}
.input {
  margin-bottom: 30px;
  padding-bottom: 20px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.button {
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: white;
  height: 50px;
  display: flex;
  margin: auto;
  width: 100%;
  border: none;
  background-color: rgb(73, 73, 73);
  margin-top: 30px;
  margin-bottom: 30px;
}
.copyright {
  margin: 0px;
  margin-top: 30px;
  color: rgb(138, 138, 138);
}
h5 {
  padding: 30px 0 30px 0;
}
.fa-twitter:before {
  content: "\f099";
}
.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}
.icons {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
ul .icons {
  display: flex;
  align-items: center;
  text-align: center;
}

ul {
  padding: 0px;
  list-style-type: none;
}
.icons li {
  display: inline-flex;
  margin-right: 5px;
  margin-bottom: 40px;
  color: aliceblue;
}
li a {
  border: 1px solid black;
  padding: 7px;
  color: rgb(73, 73, 73);
}
@media only screen and (min-width: 500px) {
  header {
    width: 75%;
    margin: auto;
  }
  .form {
    width: 75%;
    margin: auto;
  }
  .cubes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    margin: auto;
  }
  .card {
    width: 90%;
  }
}
