body {
  background-image: url("https://s1.15min.lt/images/photos/2021/06/28/original/bananai-60d986f77a501.jpg");
}
.header {
  padding-left: 100px;

  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

.menu {
  padding-right: 180px;
  display: flex;
  justify-content: flex-end;
}
a {
  margin: 0 20px 0px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
}

main {
  margin: auto;
  background-color: white;
  width: 80%;
  height: 800px;
}

.img {
  float: left;
  padding-right: 30px;
  padding-bottom: 10px;
}
h1 {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}
main {
  padding-left: 30px;
  padding-right: 30px;
}
p {
  text-align: justify;
}
