.figure {
  width: 50px;
  height: 50px;
  background-color: red;
  display: block;
  padding: 100px;
  box-sizing: border-box;
  border: 30px solid coral;
  border-radius: 40px 100px 25px 75px;
}

.trikampis1 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1px;
  height: 1px;
  border: 100px solid transparent;
  border-top-color: red;
  border-bottom-width: 0px;
  border-left-width: 50px;
  border-top-left-radius: 15px;
}

.kvadratas2 {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: block;
  padding: 100px;

  box-sizing: border-box;
  border: 30px solid;
  border-top-color: yellow;
  border-left-color: red;
  border-right-color: blue;
  border-bottom-color: green;
}

.kvadratas3 {
  width: 0px;
  height: 0px;
  border-top: 130px solid red;
  border-right: 130px solid green;
  border-bottom: 130px solid blue;
  border-left: 130px solid yellow;
  margin-top: 10px;
}

.trikampis2 {
  width: 0px;
  height: 0px;
  border-top: 100px solid transparent;
  border-right: 170px solid transparent;
  border-bottom: 100px solid blue;
  border-left: 170px solid transparent;
  margin-top: 10px;
}

.trikampiai {
  width: 0px;
  height: 0px;
  border-top: 250px solid red;
  border-right: 170px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 170px solid transparent;
}

.trikampis3 {
  width: 0px;
  height: 0px;
  border-top: 100px solid transparent;
  border-right: 170px solid transparent;
  border-bottom: 100px solid rgb(0, 0, 0);
  border-left: 170px solid transparent;
}

.trikampiai2 {
  width: 0px;
  height: 0px;
  border-top: 250px solid rgb(0, 0, 0);
  border-right: 170px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 170px solid transparent;
}

.container {
  box-sizing: border-box;
  display: flex;
  padding: 50px 30px;
  border: 30px solid;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.circle1 {
  display: inline-block;

  height: 200px;
  width: 200px;
  background-color: green;
  opacity: 30%;
  border-radius: 100%;
}

.circle2 {
  margin-left: -50px;
  opacity: 30%;
  display: inline-block;

  height: 300px;
  width: 300px;
  background-color: red;
  border-radius: 100%;
}

.circle3 {
  margin-left: -50px;
  display: inline-block;

  height: 200px;
  width: 200px;
  background-color: rgb(175, 155, 155);
  border-radius: 100%;
  opacity: 30%;
}

.circle4 {
  display: inline-block;
  margin-left: -50px;
  height: 400px;
  width: 400px;
  background-color: orange;
  border-radius: 100%;
  opacity: 40%;
}

.circle5 {
  display: inline-block;
  margin-left: -50px;
  height: 300px;
  width: 300px;
  background-color: blue;
  border-radius: 100%;
  opacity: 30%;
}

.circle6 {
  display: inline-block;
  margin-left: -50px;
  height: 200px;
  width: 200px;
  background-color: rgb(114, 10, 27);
  border-radius: 100%;
  opacity: 30%;
}

.circle7 {
  margin-left: 50px;
  display: inline-block;
  margin-left: -50px;
  height: 200px;
  width: 200px;
  background-color: rgb(17, 0, 255);
  border-radius: 100%;
  opacity: 30%;
}
