.cubeShape {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.LShape {
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

.LShape2 {
  display: flex;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  margin-left: 30px;
}

.cube {
  border-collapse: collapse;
}

.LShapeContainer {
  margin-top: 10px;
  border-collapse: collapse;
}

.ZShapeContainer {
  margin-top: 10px;
  border-collapse: collapse;
}

.TShapeContainer {
  margin-top: 10px;
  border-collapse: collapse;
}

.IShapeContainer {
  margin-top: 10px;
  border-collapse: collapse;
}

.Container {
  margin: auto;
  width: 500px;
  height: 800px;
  border: 2px solid black;
}
