.logo {
  padding-top: 10px;
  text-align: center;
}

.firstPart {
  background-color: black;
  text-align: center;
}
.headLine {
  color: white;
  text-align: left;
  margin: 0 200px;
}
.menu {
  background-color: orange;
  text-align: right;
  margin: 0 200px;
  padding: 10px;
}
.menuText {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
}
.tableTitle {
  padding-top: 10px;
  color: white;
  text-align: left;
  margin: 0px;
}

.headLine2 {
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 0 200px;
}
.paragraph {
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 0 200px;
}
.button {
  color: white;
  text-align: center;
  background-color: red;
  border-radius: 10px;
}

.buttonPos {
  padding: 10px;
  text-align: center;
}

.thirdPart {
  background-color: rgb(8, 8, 124);
  text-align: center;
  padding: 0 200px;
  padding-bottom: 20px;
}

.contacts {
  text-align: left;
  margin: 0 200px;
}
.list {
  text-align: left;
  margin: 0 200px;
}

.goUp {
  text-align: center;
  padding-bottom: 15px;
}

.fifthPart {
  background-color: orange;
  color: white;
  text-align: center;
  padding: 15px;
}

.one {
  align-content: center;
}

table,
th,
td {
  border: 2px solid #d11e00;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  padding: 10px;
  text-align: center;
}

td:last-child,
tr:last-child {
  text-align: right;
  font-weight: bold;
}
