.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.fonas {
  background-color: grey;
  padding: 10px;
}

.pirmasHeadlinas {
  text-align: center;
  padding: 10px 0px;
  background-color: green;
}
.pirmasHeadlinas a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
}
.img {
  width: 100%;
}
.antrasHeadlinas {
  color: white;
  text-align: left;
  padding: 10px 10px;
  background-color: green;
}

.headlineColour {
  color: white;
  text-align: left;
  padding: 10px 10px;
  background-color: rgb(46, 182, 5);
}

.paragraph {
  background-color: rgb(46, 182, 5);
}
